
a:link {
  color: #000;
  display: block;
  transition: .2s linear color;
}
a:visited {
  color: #999;
}
a:hover {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  transition: .2s linear color;
}
a:focus {
  color: #333333;
}
a:active {
  color: #2B8CBF;
}
