.react-datepicker__navigation--previous {
  background: url(../images/leftArrow.svg) no-repeat;
  width: 15px;
  height: 15px;
  border: none;
}

.react-datepicker__navigation--next {
  background: url(../images/rightArrow.svg) no-repeat;
  width: 15px;
  height: 15px;
  border: none;
}