
@mixin bottomDotted($extend: true) {
  @if $extend {
    @extend %bottomDotted;
  }
  @else {
    background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    margin-bottom: 0px;
    padding-bottom: 10px;
    &:last-of-type {
      background-image: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

%bottomDotted {
  @include bottomDotted($extend: false);
}